PORT=5000
MONGODB_URI=mongodb+srv://logeshkumar:logesh@mycluster.uvpms2r.mongodb.net/voiceiqu?retryWrites=true&w=majority
JWT_SECRET=U8mC1pX6rT3vN9kQ4yH0fW7aL2sD5zB8eG1iJ6oR3tY9qP4nV7wK0cM2hF5xL
GEMINI_API_KEY=AIzaSyApkj1FtMm0QpIFBA-1MrzgeGfi8VPaLj8
CLIENT_ORIGIN=http://localhost:5173
